
body{
    background-image: url(background_2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
h2{
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
h1{
   
    text-align: center;
    
    font-family: sans-serif;
    font-weight: bold;
}
#jailB{
    align-items: left;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
}
#webD{
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}
#SQLT{
    align-items: right;
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
    
}
#phone{
    display: block;
    position: relative;
    left: 50px;
}

#display1{
    position: relative;
    left: 70px;
    top: -50px;
}
#SQL1{
    position: relative;
    left: -50px;
}
#display3{
    position: relative;
    left: -90px;
}